.result {
display: none;
}

body {
margin: 20%;
}

#python, #ruby, #csharp, #java, #swift, #javaScript {
display: block;
padding: 30px;
}

#pythonImg, #rubyImg, #cImg, #javaImg, #jsImg {
padding: 10px;
}

#swiftImg {
padding: 20px;
}

.reset {
  cursor: pointer;
  color: #0088cc;
}

.reset:hover {
  text-decoration: underline;
}

body {
  margin: 50px;
}